service: aws-node-http-api-project
frameworkVersion: "3"

provider:
  name: aws
  stage: dev
  region: eu-west-1
  runtime: nodejs14.x
  profile: renato-pozzi

functions:
  fetchUsers:
    handler: handler.fetchUsers
    events:
      - httpApi:
          path: /
          method: get
  createUser:
    handler: handler.createUser
    events:
      - httpApi:
          path: /
          method: post
